<!-- Created by OTFT at Mar 2020 -->
<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta property="og:title" content="Enjoy Word Wolf" />
		<meta property="og:type" content="blog" />
		<meta property="og:description" content="Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!" />
		<meta property="og:url" content="https://www.wordwolf.tokyo/" />
		<meta property="og:image" content="{{ .Host }}/st/img/dokodemowordwolf_large.webp" />
		<meta property="og:site_name" content="Enjoy Word Wolf" />
		<meta property="og:locale" content="ja_JP" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@[eww_2020]">
		<meta name="description" content="Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!" />
		<meta name="keywords" content="wordwolf,online wordwolf,wordwolf free,wordwolf application,wordwolf theme," />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Blog | Enjoy Word Wolf</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="manifest" href="/st/manifest.json">
		<link rel="canonical" href="https://www.wordwolf.tokyo/">
		<style>
			a{
				font-size: 88%;
			}

			img{
				max-width: 80%;
			}

			#content{
				display: block;
				min-height: calc(100vh - 85px);
				width: 50%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			.blog-item {
				display: flex;
				flex-wrap: wrap;
				padding: 10px;
				border-radius: 5px;
				width: 100%;
				cursor: pointer;
				transition: 200ms box-shadow ease;
				font-size: 1rem;
				text-decoration: none;
			}

			.blog-item:hover {
				box-shadow: 0 0 20px -10px white;
				text-decoration: none;
				color: inherit;
			}

			.blog-item__image {
				width: 40%;
				height: 40%;
			}

			.blog-item__right {
				display: block;
				margin-left: 10px;
				width: calc(60% - 10px);
			}

			.blog-item__right__title {
				font-size: 1.3em;
				text-align: left;
			}

			.blog-item__right__content {
				text-align: left;
				max-height: 70px;
				overflow: hidden;
			}

			.blog-item__right__content:after {
				content: '...';
			}

			.blog-item__right__open {
				text-align: right;
				text-decoration: underline;
				transition: 150ms all ease;
				margin: 5px 0;
			}

			.blog-item__right__open:before {
				content: '本文を読む';
			}

			.blog-item__right__open:hover {
				text-decoration: none;
			}

			.ad-area {
				width: 25%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item">
							<a class="" href="/">TOP</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/about">What is “Enjoy Word Wolf”</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/odai">About theme</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/questions">FAQ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/blog/">Blog</a>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<h1>Blog</h1>
				<div id="bloglist">
					{{ if eq (call .Len .BlogList) 0 }}
					<p>The blog has not been posted yet.</p>
					{{ end }}
					{{ range .BlogList }}
					<a class="blog-item" href="/blog/{{ .Id }}">
						{{ if ne .Image "" }}
						<img class="blog-item__image" src="{{ .Image }}">
						{{ end }}
						<div class="blog-item__right"
						{{ if eq .Image "" }}
						style="width: 100%; margin-left: 0;"
						{{ end }}>
							<div class="blog-item__right__title">{{ .Title }}</div>
							<div class="blog-item__right__content">{{ .ThumbContent }}</div>
							<div class="blog-item__right__open"></div>
						</div>
					</a>
					{{ end }}
				</div>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<footer id="page-footer" style="text-align: right;">
			<a href="privacypolicy">Privacy policy and roles</a>&nbsp;&nbsp;&nbsp;
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_blank">Inquiry</a>
		</footer>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script>
			onload = () => {}
			window.onresize = () => {}
			window.onscroll = e => {
				let max = document.body.offsetHeight - window.innerHeight;
				if (window.scrollY == max) getNewBlog();
			}

			fetching = false;
			page = 0;
			function getNewBlog() {
				if (fetching) return;
				fetching = true;
				page++;
				fetch('/r/blog?page=' + page, {method: 'get'}).then(res => {
					return res.text();
				}).then(txt => {
					try {
						let res = JSON.parse(txt);
						if (res.result_type == 0) {
							res.list.forEach(blog => {
								let anc = document.createElement('a');
								anc.setAttribute('class', 'blog-item');
								anc.href = '/blog/' + blog.id;
								document.getElementById('bloglist').appendChild(anc);
								if (blog.image != "") {
									let img = document.createElement('img');
									img.src = blog.image;
									img.setAttribute('class', 'blog-item__image');
									anc.appendChild(img);
								}
								let div = document.createElement('div');
								div.setAttribute('class', 'blog-item__right');
								if (blog.image == '') {
									div.style.width = '100%';
									div.style.marginLeft = '0';
								}
								anc.appendChild(div);
								let title = document.createElement('div');
								title.innerText = blog.title;
								title.setAttribute('class', 'blog-item__right__title')
								div.appendChild(title);
								let content = document.createElement('div');
								content.innerText = blog.thumb_content;
								content.setAttribute('class', 'blog-item__right__content');
								div.appendChild(content);
								let open = document.createElement('div');
								open.setAttribute('class', 'blog-item__right__open');
								div.appendChild(open);
							});
						} else {
							alert(res.message);
						}
					} catch(ex) {
						console.error(ex);
						alert('次のページの取得に失敗しました');
					}
				}).finally(() => {
					fetching = false;
				})
			}
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>