<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="インストール不要かつ無料のワードウルフアプリ、どこでもワードウルフについて説明いたします。URLを共有するだけで離れた友人と簡単にワードウルフが遊べます！">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>What is “Enjoy Word Wolf”</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/about">
		<style>
			body{
				padding: 0;
			}
			a{
				font-size: 88%;
			}

			#content{
				display: block;
				text-align: left;
				width: 40%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			p{
				margin-left: 1em;
				line-height: 30px;
			}

			img{
				max-width: 80%;
			}

			.img-shadow{
				box-shadow: 0 0 20px -10px white;
			}

			.ad-area {
				width: 30%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item">
							<a class="" href=".">TOP</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item active">
							<a class="" href="about">What is “Enjoy Word Wolf”<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="odai">About theme</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="questions">FAQ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/blog/">Blog</a>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<h1 style="text-align: center;">What is “Enjoy Word Wolf”</h1>
				<p><b>Enjoy Word Wolf</b> is a free App. You can play Word Wolf with your friends, (even remotely) - anywhere.</p>
				<p><u>You do not need to install/register. It is totally free</u></p>
				<p>Meet Enjoy Word Wolf.</p>
				<img src="/st/img/dokodemowordwolf.jpg">
				<p><br><br></p>
				<h2>What is special about Enjoy Word Wolf?</h2>
				<p></p>
				<p>There are so many things to do to within the word wolf game. Previously all participants were required to install an app and the layout differences between different OS were overly complicated.</p>
				<p></p>
				<p><b>Enjoy Word Wolf</b> is made to solve all your problems. No more stress. It is not even required that all participants install the App.</p>
				<p><br><br></p>
				<p>All you need to do is one of the players installs the App and selects “<b>Play with friends</b>”.</p>
				<p>Just download the App to your home screen and you can play offline – your friends are not required to have the App. You can invite them from your App.</p>
				<p></p>
				<p><div class="button" tabindex="0" onclick="location = 'offsetting';">Play with friends</div></p>
				<img src="/st/img/about01.jpg">
				<p><br><br></p>
				<p>If you have friends wanting to play with you remote, you can select “<b>Play online</b>” to issue an URL and share it via LINE/Zoom. You can play with your friends regardless of the distance.</p>
				<p>(※Please DO NOT close your browser while playing a game. )</p>
				<p>(Timer might not work if you close)</p>
				<p></p>
				<p><div class="button" tabindex="0" onclick="goSetting()">Play online</div></p>
				<p><br><br></p>
				<h2>You do not need to install the App</h2>
				<p>Enjoy Word Wolf is a browser-based App, you do not need to install the App.</p>
				<p>All you need is a browser to connect to the App.</p>
				<p>We use PWA technology to enable any users to download and add the App to your home screen via the browser.</p>
				<p></p>
				<p><a href="javascript:openHowtoInstall()" style="font-size: 1.1em;" id="pwaViewAnchor">▶How to install an App via browser</a></p>
				<div style="text-align: left; display: none;" id="howToInstall">
					<ul>
						<li>For Android devices</li>
						<p>Open <a href="/">top page</a> on Google Chrome</p>
						<p>Tap “Add Enjoy Word Wolf to Home screen” at the bottom edge of your screen. -pop up will appear. </p>
						<img src="/st/img/pwa_android_0.png" class="img-shadow">
						<p>Then tap “<b>Add</b>”</p>
						<img src="/st/img/pwa_android_1.png" class="img-shadow">
						<p>Enjoy Word Wolf would be installed and appeared to your home screen.</p>
						<p>Once you add it to your home screen, you can play “<b>Play with friends</b>” function even offline.</p>
						<p>Enjoy the game whenever you want!</p>
						<li>For iOS</li>
						<p>Open <a href="/">top page</a> on Safari</p>
						<p>Select “Share” from a menu, then tap “Add to Home Screen”</p>
						<img src="/st/img/pwa_ios_share.jpg" class="img-shadow">
						<img src="/st/img/pwa_ios_addhome.jpg" class="img-shadow">
						<p>Enjoy Word Wolf would be installed and appeared to your home screen.</p>
						<p>Once you add it to your home screen, you can play “<b>Play with friends</b>” function even offline.</p>
						<p>Enjoy the game whenever you want!</p>
					</ul>
				</div>
				<p></p>
				<p>You do not need to register or send personal information to us at all.</p>
				<p>No need to worry about personal information leakage.</p>
				<p><br><br></p>
				<h2>Themes are updated every 3days</h2>
				<p>There are more than 1000 themes in Enjoy Word Wolf. You can play a different theme with every single game.</p>
				<p>Themes are updated approximately every 3days.</p>
				<p>Search “Enjoy Word Wolf” on <a href="https://twitter.com/en_wordwolf" target="_blank">Twitter</a> to see the latest update info.</p>
				<p>Please feel free to reach us if you have any requests or query, such as additional category etc…</p>
				<img src="/st/img/about02.jpg">
				<p></p>
				<p></p>
				<p>We continue to update to make your word wolf experience better.</p>
				<p>We are looking forward to seeing you in game!</p>
				<p><br><br></p>
				<p style="text-align: center;"><a href=".">TOP</a></p>
				<p><br></p>
				<a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/en_wordwolf?ref_src=twsrc%5Etfw">Tweets by en_wordwolf</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {
				var tl = document.getElementById("twitter-widget-0").contentWindow.document.getElementsByClassName("timeline-Widget")[0];
				tl.style.backgroundColor = "transparent";
			}

			window.onresize = () => {}

			function openHowtoInstall(){
				if (howToInstall.style.display == "block"){
					howToInstall.style.display = "none";
					pwaViewAnchor.innerText = "▶How to install an App via browser";
				}
				else{
					howToInstall.style.display = "block";
					pwaViewAnchor.innerText = "▼Close";
				}
			}
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>