<!DOCTYPE html>
<html lang="en-us">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>Answer</title>
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="stylesheet" href="/st/css/master.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/announce/{{ .Hash }}">
		<style>
			#waitmember{
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="msg" style="margin: 10% 0;">&nbsp;
		</div>
		<div id="waitmember">
		</div>
		<div onclick="next()" class="button" tabindex="0" id="btn" style="display: none;">Play with the same settings</div>
		<div onclick="location = '../setting';" class="button" tabindex="0" id="btn2" style="display: none;">Return to settings</div>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {}
			window.onresize = () => {}

			let myname = "";
			waitmember = document.getElementById('waitmember');
			if(sessionStorage.getItem("announce") != null){
				obj = JSON.parse(sessionStorage.getItem("announce"));
				let word1count = obj.announce.filter(an => an.odai == obj.announce[0].odai).length;
				let word2count = obj.announce.filter(an => an.odai != obj.announce[0].odai).length;
				let wordwolf = word1count < word2count ? obj.announce[0].odai : obj.announce.find(an => an.odai != obj.announce[0].odai).odai;
				for(let i = 0; i < Object.keys(obj.announce).length; i++){
					let p = document.createElement("p");
					let dispOdai = '';
					if(wordwolf == obj.announce[i].odai) dispOdai = "<span style=\"color: red;\">" + obj.announce[i].odai + "</span>";
					else dispOdai = obj.announce[i].odai;
					p.innerHTML = obj.announce[i].name + " talked about " + dispOdai;
					waitmember.appendChild(p);

					if(obj.announce[i].id == new URL(location).searchParams.get('id')){
						myname = obj.announce[i].name;
					}
				}
				waitmember.appendChild(document.createElement('hr'));
				let p = document.createElement('p');
				p.innerText = 'Members win points';
				document.getElementById('waitmember').appendChild(p);
				for(let i = 0; i < Object.keys(obj.announce).length; i++){
					let user = document.createElement('p');
					user.setAttribute('data-username', obj.announce[i].name);
					user.innerText = obj.announce[i].name + ": 0pt";
					waitmember.appendChild(user);
				}
				setUserPoint();

				document.getElementById('msg').innerText = 'Winner is ' + (obj.winner == 'wordwolf' ? 'Wordwolf' : 'Citizen');
			}
			let data = new FormData();
			fetch('/r/delmember/{{ .Hash }}', {
				method: "POST",
				body: data,
			}).then(res => {
				return res.text();
			}).then(text => {
				console.log(text);
			});

			var ws = new WebSocket(("https:" == document.location.protocol ? "wss://" : "ws://") + window.location.host + '/ws/{{ .Hash }}');

			ws.onopen = e => {
				document.getElementById("btn").style.display = "block";
				document.getElementById("btn2").style.display = "block";
			}

			ws.onmessage = e => {
				let data = JSON.parse(e.data);
				if (typeof data == 'string') data = JSON.parse(data);
				if(typeof data.point != 'undefined'){
					if(typeof data.point != 'undefined'){
						let userPoint = sessionStorage.getItem('userPoint');
						if(userPoint == null){
							userPoint = [];
						} else{
							userPoint = JSON.parse(userPoint);
						}
						if (userPoint.find(up => up.name == data.name) != null){
							userPoint.find(up => up.name == data.name).point = data.point;
						} else{
							userPoint.push({ 'name': data.name, 'point': data.point });
						}
						sessionStorage.setItem('userPoint', JSON.stringify(userPoint));
						setUserPoint();
					}
				}
			}

			function next(){
				let data = new FormData();
				data.append("name", myname);
				data.append("url", "{{ .Hash }}");
				fetch('/r/addmember', {
					method: 'POST',
					body: data,
				}).then((res) => {
					return res.json();
				}).then((obj) => {
					if(obj.result_type == 0){
						ws.send(JSON.stringify(
						{
							'name': myname,
							'url': '{{ .Hash }}',
							'id': obj.message-0
						}
						));
						location = '/waiting/{{ .Hash }}?id=' + obj.message;
					}
					else if(obj.result_type == 1){
						alert('Room is alraedy filled.');
					}
					else if(obj.result_type == 2){
						alert('The nameis already used by other.');
					}
					else alert('Failed to connect server.');
				});
			}

			function setUserPoint(){
				if(sessionStorage.getItem('userPoint') == null) return;
				let userPoint = JSON.parse(sessionStorage.getItem('userPoint'));
				userPoint.forEach(up => {
					document.querySelector('[data-username="' + up.name + '"]').innerText = up.name + ': ' + up.point + 'pt';
				});
			}
		</script>
	</body>
</html>