<!DOCTYPE html>
<html lang="en-us">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta property="og:title" content="どこでもワードウルフの遊び方について" />
		<meta property="og:type" content="blog" />
		<meta property="og:description" content="Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!" />
		<meta property="og:url" content="https://www.wordwolf.tokyo/" />
		<meta property="og:image" content="{{ .Host }}/st/img/dokodemowordwolf.webp" />
		<meta property="og:site_name" content="どこでもワードウルフ" />
		<meta property="og:locale" content="ja_JP" />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@[eww_2020]">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="離れた友人とでも簡単に遊べるワードウルフアプリの遊び方を紹介。URLを共有すれば離れた友人ともオンラインツールを通じて無料で手軽にワードウルフで遊ぶことができます。もちろん同じ場所にいる人とでもスマホが一台あればワードウルフを楽しむことができます。この機会に是非、試してみてください！">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>How to play|Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!</title>
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/howto">
		<style>
			.content {
				border: solid 2px #ea9999;
				border-radius: 30px;
				text-align: center;
				font-size: 0.8em;
				background-color: white;
				color: #0e1539;
				margin: 0 auto;
				padding: 20px 0;
				width: 95%;
			}

			p {
				font-size: 16px;
			}

			a {
				color: blue;
			}

			#content {
				width: 60%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			.ad-area {
				width: 20%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<div>
					<h1>どこでもワードウルフの遊び方について</h1>
				</div>
				<div class="content">
					<p>どこでもワードウルフとは、同じ場所にいる人とでも離れた友人とも簡単にワードウルフが遊べるウェブアプリです。</p>
					<p>このページではワードウルフの遊び方と本サービスどこでもワードウルフの遊び方を紹介します。</p>
				</div>
				<div>
					<h2>ワードウルフとは</h2>
				</div>
				<div class="content">
					<p>ワードウルフとは、各々に話すテーマが与えられます。</p>
					<p>一人だけ異なるお題を与えられる人がおり、異なるお題を与えられた少数派(ワードウルフ)を探しだすゲームです。</p>
					<p>逆にワードウルフは会話の流れで自分がワードウルフだとわかったらワードウルフとばれないように会話を他のプレイヤーに合わせ自分への投票を回避します。</p>
					<p></p>
					<p>投票を行いワードウルフを探せ出せたら、多数派の勝利。</p>
					<p>ワードウルフを探せだせなかったらワードウルフの勝利です。</p>
					<p></p>
					<p>ワードウルフは大きく3つのステップで進みます。</p>
					<p></p>
					<li>お題確認</li>
					<li>議論　　</li>
					<li>投票　　</li>
					<p></p>
					<p></p>
					<p>それでは各ステップを紹介します。</p>
					<p></p>
					<p></p>
					<h3>お題確認～プレイヤーの役職が決まる～</h3>
					<p>各プレイヤーにお題が与えられ市民(多数派)かワードウルフ(少数派)かが決まります。</p>
					<p>各プレイヤーは、自分に与えられたお題を他のプレイヤーに口外してはいけません。</p>
					<p>自分のテーマを確認したら議論に移ります。</p>
					<p>お題を見たときのリアクションもワードウルフをきっかけとなるので重要な時間でもあります。</p>
					<p><img src="/st/img/confirm.webp" width="300px"></p>
					<p></p>
					<h3>議論～ワードウルフをあぶり出す～</h3>
					<p>与えられたお題について議論を開始します。</p>
					<p>自分が与えられたお題がバレないように、他のプレイヤーへは曖昧な質問をしながら他のプレイヤーのお題を探ります。</p>
					<p>残り時間が少なくなってきたら核心をつく質問をしてもいいかもしれません。</p>
					<p>おすすめは3分など短い時間で進め、慣れてきたら長めに時間をとることをおすすめします。</p>
					<p>※ゲームの時間については注意を払いましょう！</p>
					<p><img src="/st/img/giron.webp" width="300px"></p>
					<p></p>
					<p></p>
					<h3>投票～ワードウルフだと思う人に投票する～</h3>
					<p>議論を通じて、ワードウルフと思った人に投票します。</p>
					<p><img src="/st/img/touhyou2.webp" width="300px"></p>
					<p></p>
					<h4>結果発表～ワードウルフがわかる！～</h4>
					<p>時間が過ぎたら各々の役職を公開します。</p>
					<p>ワードウルフが多く票を得ていれば、多数派の勝利。</p>
					<p>ワードウルフ以外に多く票が集まっていなければ、多数派の勝利！</p>
					<p></p>
				</div>
				<div>
					<h2>その場で対戦とは</h2>
				</div>
				<div class="content">
					<h3>シチュエーション</h3>
					<p>その場に参加者が全員居合わせるとき(居酒屋、合コン、教室で密かに)</p>
					<p>スマホが一台あればワードウルフが遊べます</p>
					<p><img src="/st/img/party.webp" width="300px"></p>
					<p></p>
					<h3>その場で対戦の遊び方</h3>
					<p>・まず設定画面で参加人数とワードウルフの人数、トークテーマ、議論時間を設定します</p>
					<p></p>
					<p>・その後、各プレイヤーの名前を記入します</p>
					<p></p>
					<p>・記入が終わったら各プレイヤーの役職を確認します</p>
					<p></p>
					<p>・確認し終わったらゲームを開始し議論を始めてください。</p>
					<p></p>
					<p>・議論終了後、怪しい人物に投票し、勝敗を決めます！</p>
					<p></p>
					<p><a href="offsetting">一緒にいる人と遊ぶ</a></p>
					<p></p>
				</div>
				<div>
					<h2>オンライン対戦とは</h2>
				</div>
				<div class="content">
					<h3>シチュエーション</h3>
					<p>その場に参加者が全員居合わせないとき(ZoomやLINEなどオンライン会議ツールを使った飲み会や雑談)</p>
					<p>参加者にURLを共有することで、ワードウルフが遊べます。</p>
					<p><img src="/st/img/online.webp" width="300px"></p>
					<p></p>
					<p></p>
					<h3>オフライン対戦の遊び方</h3>
					<p>・まず設定画面で設定者の名前と部屋名、参加人数とワードウルフの人数、トークテーマ、議論時間を設定します</p>
					<p></p>
					<p>・その後、参加するプレイヤーにURLをLINEやZoomなどで共有してから”次へ”を押します</p>
					<p></p>
					<p>・招待されたプレイヤーはプレイヤー名を記入し部屋に入ります。</p>
					<p></p>
					<p>・全員が部屋に入った後に設定者はゲーム開始を押し議論を始めます。</p>
					<p></p>
					<p>・議論終了後、怪しい人物に投票し、勝敗を決めます！</p>
					<p></p>
					<p><a href="setting">オンラインで遊ぶ</a></p>
					<p></p>
				</div>
				<div class="button" tabindex="0" onclick="location = '.';">TOPに戻る</div>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<script>
			var buttons = document.getElementsByClassName("button");
			buttons[0].addEventListener('keyup', (event) => {
				if(event.keyCode == 13 || event.keyCode == 32)
					eval(click);
			});
			setStyles();
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>