<!-- Created by OTFT at Mar 2020 -->
<!DOCTYPE html>
<html lang="en-us">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
	    <meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@[eww_2020]">
		<meta name="twitter:creator" content="@OTFT_V">
	    <meta property="og:type" content="blog">
		<meta name="twitter:url" property="og:url" content="https://www.wordwolf.tokyo/">
		<meta name="twitter:title" property="og:title" content="Enjoy Word Wolf">
		<meta name="twitter:description" property="og:description" content="Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!">
		<meta name="twitter:image" property="og:image" content="{{ .Hash }}/st/img/dokodemowordwolf_large.webp">
		<meta property="og:locale" content="ja_JP" />
		<meta name="description" content="Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!" />
		<meta name="keywords" content="wordwolf,online wordwolf,wordwolf free,wordwolf application,wordwolf theme" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>Enjoy Word Wolf | Completely free and no risk of personal information leakage.There's nothing complicated, just share the URL with the participants!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="manifest" href="/st/manifest.json">
		<link rel="canonical" href="https://www.wordwolf.tokyo/">
		<style>
			a{
				font-size: 88%;
			}

			#logoImage{
				background-image: url('/st/img/dokodemowordwolf.jpg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				width: 220px;
				height: 220px;
			}

			img{
				max-width: 80%;
			}

			#content{
				display: block;
				width: 32%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			.nav-item {
				margin: 5px auto;
			}

			.ad-area {
				width: 30%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item active">
							<a class="" href="about">What is “Enjoy Word Wolf”<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="odai">About theme</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="questions">FAQ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="blog/">BLog</a>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<div id="titles">
					<h1>Enjoy Word Wolf</h1>
					<p>Themes are updated (almost) daily</p>
					<p>Over 1000 themes</p>
				</div>
				<div class="button" tabindex="0" onclick="location = 'offsetting';">Play with your friends</div>
				<div class="button" tabindex="0" onclick="goSetting()">Play online</div>
				<div class="button" tabindex="0" onclick="location = 'howto';">How to play</div>
				<div id="logoImage"></div><br>
				<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
				<div>
					<h2>Are you looking for the way to play word wolf anytime, anywhere with anyone?</h2>
					<p>Sometimes organising game with friends is a hastle.</p>
					<ul style="text-align: left;">
						<li>Who will be a judge of the game? -One person is not able to join a game!</li>
						<li>I don’t want to install App!</li>
						<li>My friend does not have an App!</li>
						<li>Which App is free?</li>
					</ul>
					<p>Etc…</p>
					<p>“<b>Enjoy Word Wolf</b>” would solve all your problems!</p>
					<p>You can play word wolf anywhere with anyone. There is no need to dedicate a judge!</p>
					<p>Free App with no in-App purchase!</p>
					<img id="img_01">
					<h3>You don't need a gamemaster to play</h3>
					<p>Enjoy Word Wolf will organise the time, theme, and judge by itself – all of you can join game, you do not need to kick out any of your friends from a game to dedicate a judge anymore!</p>
					<p>You can set all the rules to word wolf and let <b>Enjoy Word Wolf</b> run the game.</p>
					<img id="img_02">
					<p><br></p>
					<h3>No installation required.</h3>
					<p>You can play word wolf at a bar, home party… anywhere!</p>
					<p>No installation needed, you can play with anyone, anytime and anywhere!</p>
					<p>You can add <b>Enjoy Word Wolf</b> to your home screen from your browser!</p>
					<p>You can open home screen to activate <b>Enjoy Word Wolf</b> –No need to open the browser!</p>
					<p>You can use <b>Enjoy Word Wolf</b> offline if you have added it to your home screen!</p>
					<p>Having no signal will never stop you playing word wolf anymore!</p>
					<p>Install Now!</p>
					<div class="button" tabindex="0" onclick="location = 'offsetting';">Play with your friends</div>
					<img id="img_03">
					<p><br></p>
					<h3>Play remote with your friends</h3>
					<p>With <b>Enjoy Word Wolf</b>, all participants can easily play Word wolf without having to install an app!</p>
					<p>All you have to do is go to &quot;Play Online&quot;, issue the URL, and share it on messenger apps (e.g LINE) to start the</p>
					<p>There&#39;s nothing complicated, just share the URL with the participants!</p>
					<p>You can play with anyone easily.</p>
					<p>Suitable for Line/Zoom online party!</p>
					<p>Can’t go out? Let’s play word wolf with Enjoy Word Wolf!</p>
					<div class="button" tabindex="0" onclick="goSetting()">Play online</div>
					<img id="img_04">
					<p><br></p>
					<h3>Completely free and no risk of personal information leakage</h3>
					<p><b>Enjoy Word Wolf</b> lets you play with all the features as many times as you want, with as many people as you want, for free!</p>
					<p>You do not even need to register your personal information at all! – No risk of personal information leakage.</p>
					<p>You can play safe, indeed!</p>
					<br>
					<p>Read more detail from here!</p>
					<div class="button" tabindex="0" onclick="location = 'howto';">How to play</div>
					<p><br></p>
					<h3>Theme updated every 3days</h3>
					<p>The game’s theme is updated approximately every 3days.</p>
					<p>All categories are updated constantly – You will not get bored!</p>
					<p>We are announcing the updated information on <a href="https://twitter.com/en_wordwolf" target="_blank">Twitter</a>, so search for "<b>Enjoy Word Wolf</b>"!</p>
					<p>If you have a request, we will consider adding categories and add them!</p>
					<br><br><br><br>
					<p>If you want to play immediately, please play from here!</p>
					<p>Thank you.</p>
					<div class="button" tabindex="0" onclick="location = 'offsetting';">Play with your friends</div>
					<div class="button" tabindex="0" onclick="goSetting()">Play online</div>
					<p><br><br><br></p>
				</div>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<footer id="page-footer" style="text-align: right;">
			<a href="privacypolicy">Privacy policy and roles</a>&nbsp;&nbsp;&nbsp;
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_f19jF8qP7OVMte37ZseAFpndAtwjG2bvAhkr95f4PLFnAw/viewform" target="_blank">Inquiry</a>
		</footer>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {
				img_01.src = "/st/img/index01.jpg";
				img_02.src = "/st/img/index02.jpg";
				img_03.src = "/st/img/index03.jpg";
				img_04.src = "/st/img/index04.jpg";
			}

			window.onresize = () => {}

			if (location.host == 'www.wordwolf.tokyo') {
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register("/sw.js")
					.then(reg => {
						console.log('Service worker registered.', reg);
						reg.onupdatefound = function() {
							reg.update();
							console.log('cash update.');
						}
						if (typeof reg.update == 'function') {
							console.log('cash update.');
							reg.update();
						}
					});
				} else console.log('Service worker can\'t registered.');
			}
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>