<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="ワードウルフのお題を説明します。">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>About Ward Wolf Theme Category</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/odai">
		<style>
			a{
				font-size: 88%;
			}

			#content{
				display: block;
				text-align: left;
				width: 40%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			p{
				margin-left: 1em;
				line-height: 30px;
			}

			.ad-area {
				width: 28%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item">
							<a class="" href="/">TOP</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/about">What is “Enjoy Word Wolf”</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item active">
							<a class="" href="/odai">About theme<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/questions">FAQ</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/blog/">Blog</a>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<h1>About Ward Wolf Theme Category</h1>
				<p><br><br></p>
				<p>There are 7 categories in Enjoy Word Wolf.</p>
				<p>The theme will be well known things that everyone in the world would understand.</p>
				<p>Kids friendly – We do not have any curse words or phrases at all.</p>
				<p>Feel free to reach us out via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_blank">contact form</a> if you have any queries.</p>
				<p><br></p>
				<p>The categories in the App are as follows;</p>
				<p><br><br></p>
				<h2>Sports</h2>
				<p>The name of the sport or associated equipment related words are included.</p>
				<p>If you like to watch or play any sports this is a theme for you.</p>
				<p>Suitable for playing while watching sports.</p>
				<p><br><br></p>
				<h2>Life</h2>
				<p>Tools you definitely will have used in everyday life; back in school etc…</p>
				<p>Great for breaking the ice with your new friends. Playing this game for first time, everybody should easily know all the themes.</p>
				<p><br><br></p>
				<h2>Romance</h2>
				<p>This theme has the words of love and romance</p>
				<p>If you want to feel romance, this is the theme you should go ahead with.</p>
				<p>Don’t worry, nothing sexual, weird or disturbing.</p>
				<p><br><br></p>
				<h2>Food and Drink</h2>
				<p>This theme contains the names of food/drinks.</p>
				<p>Suitable for kids as well.</p>
				<p>We would recommend for you to spend a little longer in discussion time, as our range is massive!</p>
				<p><br><br></p>
				<h2>Worlds</h2>
				<p>The name of the countries and cities are here.</p>
				<p>If you are familiar with world geography, this is the theme for you!</p>
				<p>Basic geography knowledge required.</p>
				<p><br><br></p>
				<h2>Celebrity</h2>
				<p>Celebrities from t.v, movies, music, history.</p>
				<p>Suitable for 15 years old above, some high difficulty themes are included.</p>
				<p>Recommended longer discussion time.</p>
				<p><br><br></p>
				<h2>Randoms</h2>
				<p>All themes are mixed, you will see what the category is when you receive it!</p>
				<p>Recommended longer discussion time – you will never know what themes there will be to discuss as they always change.</p>
				<p><br><br></p>
				<h2>Click here if you have a request to add themes</h2>
				<p>Please feel free to contact us via the contact form if you have a request for adding a theme/category.</p>
				<p>We welcome your opinion(s) – the developer team appreciates any comments from you to improve the games’ experience.</p>
				<p>We look forward to seeing you!</p>
				<p><br><br></p>
				<p style="text-align: center;"><a href=".">TOP</a></p>
				<p><br><br></p>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {}
			window.onresize = () => {}
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>