<!DOCTYPE html>
<html lang="en-us">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		
		<script data-ad-client="ca-pub-3865676677739483" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Below is our FAQs about Enjoy Word Wolf">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>Enjoy Word Wolf FAQ</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/questions">
		<style>
			body {
				padding: 0;
			}

			.content-title {
				margin-top: 15px;
			}

			.content {
				border: solid 2px #ea9999;
				border-radius: 30px;
				text-align: center;
				font-size: 0.8em;
				background-color: white;
				color: #0e1539;
				margin: 0 auto;
				padding: 20px 0;
				width: 100%;
			}

			@media screen and (max-width: 812px) {
				.content {
					width: 96%
				}
			}

			p {
				font-size: 16px;
			}

			.content a {
				color: blue;
			}

			#content {
				width: 60%;
			}

			@media screen and (max-width: 812px) {
				#content {
					width: 100%;
				}
			}

			.ad-area {
				width: 20%;
			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header id="page-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 0px; margin-left: auto;">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto; flex-wrap: wrap;">
						<li class="nav-item">
							<a class="" href="/">TOP</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/about">What is “Enjoy Word Wolf”</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/odai">About theme</a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item active">
							<a class="" href="/questions">FAQ<span class="sr-only">(current)</span></a>&nbsp;&nbsp;&nbsp;
						</li>
						<li class="nav-item">
							<a class="" href="/blog/">Blog</a>&nbsp;&nbsp;&nbsp;
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br>
		<div style="width: 100%; text-align: center;">{{ .PH.Top }}</div>
		<div id="adflex">
			<main class="ad-area">
				{{ .PH.Left }}
			</main>
			<main id="content">
				<div>
					<h1>Enjoy Word Wolf FAQ</h1>
				</div>
				<div class="content">
					<p>Below is our FAQs about Enjoy Word Wolf</p>
					<p>Please feel free to contact us via the <a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_brank">contact form</a>.</p>
				</div>
				<p><br><br></p>
				<div class="content-title">
					<h2>How to play word wolf?</h2>
				</div>
				<div class="content">
					<p>Click here to check rules of word wolf</p>
					<p><a href="javascript: location = 'howto';">How to play</a>
				</div>
				<div class="content-title">
					<h2>How often do you update themes?</h2>
				</div>
				<div class="content">
					<p>We update themes approximately every 3 days</p>
					<p>We will let you know on Twitter<a href="https://twitter.com/en_wordwolf" target="_blank">Twitter</a> once the theme is updated</p>
				</div>
				<div class="content-title">
					<h2>Do I need to register to use the App?</h2>
				</div>
				<div class="content">
					<p>None of the participants are required to register.</p>
					<p>Generate and share a game URL to enter a game room and start a game.</p>
				</div>
				<div class="content-title">
					<h2>Is the game child friendly? Are there are any inappropriate words?</h2>
				</div>
				<div class="content">
					<p>It is a child friendly game. We do not use any curse or inappropriate words. There is nothing of a sexual, offensive or discriminatory nature.</p>
					<p>Please let us know via the <a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_brank">contact form</a> if you have any queries.</p>
				</div>
				<div class="content-title">
					<h2>Can we play this game offline?</h2>
				</div>
				<div class="content">
					<p>You can play offline by adding the App into the home screen, select “<b>Add to home screen</b>” via Google Chrome.</p>
				</div>
				<div class="content-title">
					<h2>How many people can play together?</h2>
				</div>
				<div class="content">
					<p>Both “Play with your friends” and “Play online” does not have max players count.</p>
					<p>(Large number of participates might cause server issue)</p>
				</div>
				<div class="content-title">
					<h2>I do not understand the theme that I have been allocated.</h2>
				</div>
				<div class="content">
					<p>We are sorry for any inconvenience.</p>
					<p>Please let us know what the theme in question is via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_brank">contact form.</a> We will then sort out the best way to resolve this.</p>
				</div>
				<div class="content-title">
					<h2>Is there any charge in this App?</h2>
				</div>
				<div class="content">
					<p>No, Enjoy Word Wolf is completely free.</p>
				</div>
				<div class="content-title">
					<h2>Do I need to provide my personal information?</h2>
				</div>
				<div class="content">
					<p>No, you do not need to provide either personal information nor Cookie information.</p>
				</div>
				<div class="content-title">
					<h2>I have a problem with game play for some reason. What can I do?</h2>
				</div>
				<div class="content">
					<p>We are sorry for any inconvenience.</p>
					<p>Please let us know what the issue is via the contact form and we will sort out the best way to resolve.</p>
					<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_brank">Contact form</a></p>
				</div>
				<div class="content-title">
					<h2>A theme I received was inappropriate to me, can you review this?</h2>
				</div>
				<div class="content">
					<p>Please let us know what the theme is via the <a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_brank">contact form</a>, we will then sort out the best way to resolve.</p>
				</div>
				<div class="content-title">
					<h2>Is anything additional required share the URL?</h2>
				</div>
				<div class="content">
					<p>No, nothing additional is required.</p>
					<p>You can share a URL via LINE, Facebook Messengers, Zoom and more. – whichever is your preferred messaging platform.</p>
				</div>
				<div class="content-title">
					<h2>Where can I locate the latest update info?</h2>
				</div>
				<div class="content">
					<p>Please check our <a href="https://twitter.com/en_wordwolf" target="_blank">Twitter</a> account.</p>
					<p>You can find us by searching “Enjoy Word Wolf”</p>
				</div>
				<div class="content-title">
					<h2>Can I share recorded gameplay from this App on social media, YouTube etc?</h2>
				</div>
				<div class="content">
					<p>No problem, we do not require any permission to play and post the game in any media channel.</p>
					<p>However it would be much appreciated, (if you have a large audience) to liaise with us in regards to delivering the correct information to your audience. Feel free to use our in App <a href="https://docs.google.com/forms/d/e/1FAIpQLScnAzoaaNnUa6M6PMSueT962WyYWOEMTxyo7iaVmTUPme-OjA/viewform" target="_brank">contact form</a> for this.</p>
				</div>
				<div class="button" tabindex="0" onclick="location = '.';">Return to TOP</div>
			</main>
			<main class="ad-area">
				{{ .PH.Right }}
			</main>
		</div>
		<div style="width: 100%; text-align: center;">{{ .PH.Bottom }}</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script>
			var buttons = document.getElementsByClassName("button");
			buttons[0].addEventListener('keyup', (event) => {
				if(event.keyCode == 13 || event.keyCode == 32)
					eval(click);
			});
		</script>
		<script type="text/javascript">
			amzn_assoc_ad_type = "link_enhancement_widget";
			amzn_assoc_tracking_id = "wordwolf03-22";
			amzn_assoc_linkid = "c0155b1b9526bccedd8d4e1e42d364ad";
			amzn_assoc_placement = "";
			amzn_assoc_marketplace = "amazon";
			amzn_assoc_region = "JP";
		</script>
		<script src="//ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
	</body>
</html>