<!DOCTYPE html>
<html lang="en-us">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-M8DVS5JJ');</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
		<meta name="propeller" content="95a86aecb8a626881d863dcfcbe72e55">
		<title>Vote</title>
		<link rel="stylesheet" href="/st/css/styles.css?{{ .Query }}">
		<link rel="stylesheet" href="/st/css/master.css?{{ .Query }}">
		<link rel="shortcut icon" href="/st/img/favicon.ico">
		<link rel="canonical" href="https://www.wordwolf.tokyo/vote/{{ .Hash }}">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8DVS5JJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div style="margin-top: 40%;" id="msg">
			Choose someone<br>you think is a wordwolf.
		</div>
		<form name="fm">
			<select name="memid" style="font-size: 2em; margin-top: 10%;">
				{{ range .Members }}
				<option value="{{ .Id }}">{{ .Name }}</option>
				{{ end }}
			</select>
		</form>
		<div class="button" tabindex="0" onclick="sub()" style="margin-top: 30%; display: none;" id="btn">Vote</div>
		<script src="/st/js/scripts.js?{{ .Query }}"></script>
		<script>
			onload = () => {}
			window.onresize = () => {}
			var ws = new WebSocket(("https:" == document.location.protocol ? "wss://" : "ws://") + window.location.host + '/ws/{{ .Hash }}');

			ws.onopen = (e) => {
				document.getElementById("btn").style.display = "block";
			}

			if("{{ .Hash }}".length != 10){
				document.getElementById("msg").innerHTML = "You cannot vote.";
				document.getElementById("btn").innerHTML = "";
			}

			if(sessionStorage.getItem('odaireset') != null) sessionStorage.removeItem('odaireset');

			function sub(){
				var data = new FormData(document.fm);
				data.append("myid", new URL(location).searchParams.get('id'));
				fetch('/r/counting/{{ .Hash }}', {
					method: "POST",
					body: data,
				}).then((res) => {
					location = '/counting/{{ .Hash }}?id=' + new URL(location).searchParams.get('id');
				});
			}
		</script>
	</body>
</html>